server:
  port: 8080

spring:
  application:
    name: gateway

  docker:
    compose:
      enabled: false

  jwt:
  secret: ${JWT_SECRET:azertyuiopqsdfghjklmwxcvbn}

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**

        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/products/**

        - id: media-service
          uri: lb://media-service
          predicates:
            - Path=/media/**

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka
