server:
  port: 8080

spring:
  application:
    name: gateway

  docker:
    compose:
      enabled: false

  jwt:
  secret: ${JWT_SECRET:azertyuiopqsdfghjklmwxcvbn}

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/**
            - id: product-service
              uri: lb://PRODUCT-SERVICE
              predicates:
                - Path=/products/**
            - id: media-service
              uri: lb://MEDIA-SERVICE
              predicates:
                - Path=/media/**
        error:
          include-message: always
          include-binding-errors: always
          include-stacktrace: always

logging:
  level:
    org.springframework.web: DEBUG

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
